@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #111;
  max-width: 100%;
  overflow-x: hidden;
}

.category {
  font-family: 'Roboto', sans-serif;
  color: rgb(192, 184, 184);
  font-size: 30px;
  
}

.catalog-row {
  width: 98vw;
  position: relative;
  
  margin-left: auto;
  margin-right: auto;
  
  scrollbar-width: none;
}
/*Google chrome safari opera*/
.catalog-row::-webkit-scrollbar {
  display: none;
}

.catalog-row-list-area {
  display: flex;
  top: 120px;
  flex-direction: row;
  margin-left: auto;;
  margin-right: auto;
  padding-left: 30px;
  transition: all ease 0.5s;
}
.animated{
  animation-name: rocket;
  animation-duration: 300ms;
}

@keyframes rocket {
  0%   {  transform:scale(1.2)    }
  50%  {  transform:scale(1.1) }
  100%  {  transform:scale(1.2) }

}


.loading {
  height: 500px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spin 1s infinite;
}

.loading-spin {
  display: flex;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
}


.catalog-card:hover  {
  transform: scale(1.2);
  transition: 0.3s;
  transition-delay: 0.2;
  z-index:10 !important;
}
.catalog-card {
  cursor:none;
  padding-left:5px;
  padding-right:5px;
  z-index: 1;
}
.flicking-bomb {
  align-items: center;
}
.flicking-viewport{
  height:300px;
}

.cursor {
  position: fixed;
  border-radius: 20px;
  /* transform: translateX(-50%) translateY(-50%); */
  pointer-events: none;
  background-color: transparent;
  z-index: 100;
  border: 3px solid rgb(86, 135, 215);
  height: 30px;
  width: 30px;
  /* transition-delay: -5ms; */
}
.category-div {
  padding-left: 10px;
  position: relative;
  top:15px;
}


@media (min-width: 320px) and (max-width: 480px) {
  .logo {
    display: none;
  }

  .mobile-logo {
    display: block;
  }

  .movie-card img,
  .trending-card img {
    height: 300px;
  }

  .category {
    font-size: medium;
  }

  .navigation-menu {
    display: none;
  }
}


@tailwind base;
@tailwind components;
@tailwind utilities;
